<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Login</th>
        </tr>
      </thead>
      <tbody>
        <td>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Login</label>
            <input  class="form-control" id="loginEstudiante" placeholder="Enter login">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </td>
      </tbody>
    </table>
  </div>
</div>